body {
    background-color: rgba(10, 51, 17, 0.781);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#lamp {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.lamp {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.light-on {
    background-color: yellow;
}

#display-time {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}